{#
#
# (c) Copyright 2017 SUSE LLC
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
#}

[flask]
host: {{ shim_host }}
port: {{ shim_port }}

[general]
db_file: {{ db_file }}
progress_file: {{ progress_file }}

[ardana]
url: {{ ardana_service_url }}

[urls]
{% if HZN_WEB is defined -%}
  {%- set hzn = HZN_WEB.advertises.vips.public[0] -%}
  {%- if "://myardana.test" in HZN_WEB.advertises.vips.public[0].url -%}
    horizon: {{ hzn.protocol }}://{{ hzn.ip_address }}:{{ hzn.port }}
  {%- else -%}
    horizon: {{ hzn.url }}
  {%- endif -%}
{%- endif %}

{% if OPS_WEB is defined -%}
  opsconsole: {{ OPS_WEB.advertises.vips.private[0].url }}
{%- endif %}
